/* Hide tabs toolbar */
#TabsToolbar { 
    visibility: collapse !important 
}

/* Move the window controls down and to the right since the tabs toolbar is hidden */
.titlebar-buttonbox-container{
  visibility: visible !important;
  height: 40px !important;
  margin-left: 70px;
}

/* Shift nav bar down */
#nav-bar{
  margin-top: 0px;
}

/* push nav buttons to the right to make space for window controls */
#nav-bar-customization-target {
    padding-left: 78px;
}

/* Hide sidebar header */
#sidebar-header {
    display: none;
}
